
.mile-bar {
  fill: $blue-400;
}

.drink-bar {
  fill: $red-400;
}

.trendline {
  fill: none;
  stroke: $grey-900;
  stroke-width: 1.5px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
