.day-view {
  .card.center {
    text-align: center;
    .day-controls {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
      }
    }
    .day-value {
      font-size: 1.5em;
      user-select: none;
      &.miles, &.drinks {
        min-width: 3em;
      }
    }
    .increment-btn {
      cursor: pointer;
      padding: 5px;
    }
  }

}
