.day-view {
  .btn-row {
    padding: 0.5rem;
    margin-bottom: 0.5em;
    background-color: $brand-primary-light;
    .btn-section {
      text-align: center;
      vertical-align: middle;
      button {
        height: 100%;
        width: 100%;
      }
      .title {
        font-size: 0.85em;
      }
      .value {
        font-size: 1.25em;
        &.summary {
          font-size: 1.75em;
          color: $brand-primary;
        }
      }
    }
  }
}
